*/*/.DS_Store
*/.DS_Store
.DS_Store
modulo1/clase_8/ejercicios-alumnos/01/Solucion
modulo1/clase_8/ejercicios-alumnos/02/Solucion
modulo2/clase_9/ejercicios-alumnos/01/Solucion
modulo2/clase_9/ejercicios-alumnos/02/Solucion
modulo2/clase_10/ejercicios-alumnos/01/Solucion
modulo2/clase_10/ejercicios-alumnos/02/Solucion
modulo2/clase_11/ejercicios-alumnos/01/Solucion
modulo2/clase_11/ejercicios-alumnos/02/Solucion

